# Environment
ENV=development

# Ports
PORT_CLIENT=3000
PORT_BACKEND=8080

# Database (Postgres)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tododb
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Mongo (если используется в коде)
MONGO_URL=mongodb://mongodb:27017/tododb